body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #C2FEC0;
}

.quem_somos{
    background-color: seagreen;
    color: white;
}
/*.margin{
    margin-top: 30px;
}
nesse caso, a margem é apenas para o componente "container"
criando assim, um espaço em branco de margem*/
.margin{
    padding-top: 30px; /*esse comando preenche o espaço em branco*/
    padding-bottom: 80px;
   
}
.amazon{
    margin-top: 20px;
}

.senior{
    margin-top: 15px;
}
/*col-lg-4 para 3 imagens (3*4=12). col-lg-6 para duas imagens (2*6=12)*/
.bg-footer{
    background-color: black;
    color: white;
    padding-bottom: 1px;
}
